<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TWProjects - Error</title>

  <!-- Pico CSS Styles -->
  <link rel="stylesheet" th:href="@{/css/pico.min.css}">
</head>
<body>
  <nav class="container-fluid">
    <ul>
      <li><strong>TWProjects</strong></li>
    </ul>
    <ul>
      <li><a th:href="@{/clients}">Clientes</a></li>
    </ul>
  </nav>

  <main class="container">
    <h1>Erro Interno</h1>
    <p th:text="${message}">
      Este é um projeto de exemplo para o curso de Spring Boot da TreinaWeb
    </p>
    <a onclick="window.history.back()">Voltar</a>
  </main>
</body>
</html>