<html th:replace="~{layout :: layout (~{::title}, ~{::content}, _, _)}">
  <th:block th:fragment="title" th:text="${pageTitle}"></th:block>
  
  <th:block th:fragment="content">
    <h1 th:text="${pageTitle}"></h1>

    <form method="post" th:object="${clientForm}">
      <label>
        Nome*
        <input type="text" th:field="*{name}" required>
      </label>
      
      <label>
        E-mail*
        <input type="email" th:field="*{email}" required>
      </label>
      
      <label>
        Telefone*
        <input 
          type="text"
          th:field="*{phone}"
          required
          placeholder="(00) 00000-0000"
          pattern="^\(\d{2}\) \d{5}-\d{4}$"
        >
      </label>

      <button type="submit">Salvar</button>
    </form>
  </th:block>
</html>
