<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TWProjects - Listagem de Clientes</title>

  <!-- Pico CSS Styles -->
  <link rel="stylesheet" th:href="@{/css/pico.min.css}">
</head>
<body>
  <div th:replace="~{fragments/_navbar :: navbar}"></div>

  <main class="container">
    <h1>Listagem de Clientes</h1>

    <table th:if="${not clients.isEmpty()}">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">Telefone</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="client : ${clients}">
          <th scope="row" th:text="${client.id}">1</th>
          <td th:text="${client.name}">Cleyson Lima</td>
          <td th:text="${client.email}">cleyson@mail.com</td>
          <td th:text="${client.phone}">(11) 99999-9999</td>
          <td>
            <a th:href="@{/clients/edit/{id} (id=${client.id})}">Editar</a>
            <a 
              th:href="@{/clients/delete/{id} (id=${client.id})}"
              onclick="return confirm('Tem certeza que deseja excluir o cliente?')"
            >
              Excluir
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <p th:unless="${not clients.isEmpty()}">Não existem clientes cadastrados</p>

    <a th:href="@{/clients/create}" role="button">Novo cliente</a>
  </main>
</body>
</html>